* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #194c78;
}

// 字体
@font-face {
  font-family: "PerfectMoment";
  src: url(../font/PerfectMoment-Script.ttf);
}

@font-face {
  font-family: "得意黑";
  src: url(../font/SmileySans-Oblique.ttf);
}

// 导航栏相关
.bg-light {
  @media (min-width: 992px) {
    background-color: transparent !important;
  }
}

.navbar {
  position: fixed;
  width: 100%;
}

nav {
  font-weight: bold;
  color: white;
  z-index: 100;

  .navbar-brand {
    font-weight: normal;
    font-family: "PerfectMoment";
    font-size: 2rem;

    @media (min-width: 992px) {
      font-size: 3rem;
      margin-left: 2rem;
    }
  }

  #navbarNavDropdown {
    @media (min-width: 992px) {
      justify-content: right;
      margin-right: 2rem;
      font-size: 1.2rem;
    }
  }

  .dropdown-menu {
    left: -45px;
    border: 0;
    text-align: center;
  }
}

// 头部
header {
  width: 100%;
  background-image: linear-gradient(#2eb5fd, #194c78);
  height: 100vh;

  .typing {
    padding: 10rem 0;
    text-align: center;
    font-size: 30vh;
    user-select: none;
    font-family: "PerfectMoment";
    text-shadow: 0 0 20px white;
    // letter-spacing: 0.3rem;
    color: white;

    @media (min-width: 992px) {
      padding-top: 12rem;
      font-size: 15rem;
    }
  }
}

section {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 8rem;

  .title {
    margin-bottom: 4rem;
    h2 {
      font-size: 2rem;
      text-align: center;
      font-family: "得意黑";
      color: #fff;
      // margin-bottom: 30px;
    }

    h3 {
      font-size: 1rem;
      text-align: center;
      font-family: "得意黑";
      color: #fff;
      margin-bottom: 30px;
    }

    @media (min-width: 992px) {
      h2 {
        font-size: 4rem;
        text-align: center;
        font-family: "得意黑";
        color: #fff;
        margin-bottom: 0px;
      }

      h3 {
        font-size: 2.8rem;
        text-align: center;
        font-family: "得意黑";
        color: #fff;
        opacity: 0.6;
      }
    }
  }
}

// 近期
.recentlyWork {
  width: 80vw;

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      color: black;
      text-decoration: none;
      text-align: center;
      font-weight: 700;
      margin-bottom: 20px;

      .card {
        width: 38vw;

        @media (max-width: 743px) {
          width: 80vw;
        }
      }
    }
  }
}



// 小组件
.widget {
  .content {
    display: flex;
    justify-content: space-between;

    .info-box {
      width: 25vw;

      img {
        width: 100%;
      }
    }
  }
}
